<!DOCTYPE html>
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="css/styles.css")


  body
    h1 tuna branding
    #slider.slider-container
      -for(var i=1; i <=3; i++)
        img(src="img/pruebatino1-01.jpg", alt="")
    a(href="#")#prev Anterior
    a(href="#")#next Siguiente
    script(src="js/jquery.js")
    script(src="js/scripts.js")
